
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    background-image: url(Screenshot\ from\ 2026-01-09\ 07-54-07.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #222;
    color: white;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}


.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("BG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-shadow: 0 0 15px rgba(255,255,255,0.15);
}

.highlight {
    color: #ef2b0c;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #7a7570;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transform: scale(1.1);
    display: flex;
}

/* Sections */
.container {
    padding: 50px;
    text-align: center;
    font-size: 50px;
    color: darkslategray;
    text-decoration: underline black;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
}

.project-card {
    background: #ddd;
    padding: 40px;
    border-radius: 8px;
   
}

footer {
    background: #84eeb2;
    color: white;
    text-align: center;
    padding: 20px;
    height: 250px;
    transform: scale(1);
    flex-direction: row;
}
#Hi{
    color: #ddd;
    
}   
.cursor {
  color: #ff3c00;
  animation: blink 1s infinite;
}
@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}
.me{
    float: left;
    border-radius:  100%; 
    width: auto;
}
#bout{
    float: right;
    height: 250px;

}   
.about-content {
  display: flex;
  align-items: center;    
  justify-content: center; 
  gap: 50px;              
  max-width: 1000px;
  margin: 0 auto;         
  padding: 0 20px;
}


.about-image img {
  width: 250px;  
   margin: 20px;
  /* padding: 20px;      */
  height: 250px;
  border-radius: 50%;     
  object-fit: cover;
  border: 5px solid white;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}


.about-description {
  flex: 1;               
  max-width: 600px;
  padding: 30px;
  /* margin-right: 50px; */
  text-transform: capitalize;
  text-shadow: #e1d8d8 20px 30px 15px;
    border-radius: 20%;
    
}
#PP{
     color: black;
     /* font-size: px; */
    
}

.about-description h3 {
  font-size: 29px;
  margin-bottom: 15px;
}

 
  @media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center; 
   } 
 }  
#bg{
    background-color: rgb(213, 220, 217);


}
.education-description{
    font-style: oblique;
    font-size: 23px;
    padding: 25px;
    color: #1a1919;
    
}
#edu-img{
    width: 254px;
    height: 244px;
    border-radius: 20%;
    justify-content: center;
    float: left;
    padding: 30px;
    border: black 20px;
}
.bodr{
    border: white solid 2px double;
    height: 200px;
    width: 200px;
    border-radius: 30%;
    margin: 25px;
}
.skill-icon:hover{
    transform: scale(1.1);
    display: flex;
    flex-direction: row;
     justify-content: space-between; 

} 
/* #prj{
    display: flex;
    justify-content: center;
    align-items: center;     */
    /* width: 100%;
    height: 100px; */

/* } */
#footer{
    background-color:black;
    text-align: center;
    color: wheat;
    padding: 25px 20px;
    height: 50px;
}
#tool:hover{
    transform: scale(1.1);
    display: flex;
    justify-content: space-between;
}
